*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: rgba(141, 137, 137, 0.2);
    box-shadow:2px 2px 14px 1px rgba(117, 117, 117, 0.568);
}
li{
    display: inline-block;
    margin: 0px 20px;
    padding: 5px;
    font-size: 1.3em;
    font-weight: bold;
}
li:hover{
    color: rgb(95, 0, 219);
    cursor: pointer;
}
h1,.timer{
    text-align: center;
}
h1{
    font-size: 3em;
    margin-top: 80px;
    margin-bottom: 30px;
}
#Timer, #Stop-watch, #Alarm{
    display: none;
}
#Timer, #Clock, #Stop-watch, #Alarm{
    animation: 0.5s fade ;
}
@keyframes fade{
    0%{
        opacity:0;
    }
    
    100%{
        opacity: 1;
    }
}

.style{
    color: rgb(95, 0, 219);
    text-decoration: underline;
}
.time{
    font-size: 6em;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    outline:none;
    padding: 20px;
    margin:10px;
    background-color: black;
    color: white;
}
.colon{
    font-size: 6em;
    /* animation: 1s blink infinite; */
    /* opacity: 0; */
}
@keyframes blink{
    100%{
        opacity: 1;
    }
}
.div-common{
    /* border:2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
#Timer div label:hover, #Alarm div label:hover{
    cursor:pointer;
}
p{
    margin-top: 55px;
    font-weight: bold;
}
i{
    font-size: 2em;
}
.am-pm{
    margin-left: 20px;
}
.am{
    margin-left: 30px;
}
.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}
button:hover{
    cursor: pointer;
}
.button button{
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    width: 150px;
    padding: 0.5em 1em;
    margin: 0px 10px;
    border: none;
}
.start{
    background-color: rgb(0, 135, 0);
    color: white;
}
.start:hover{
    background-color: rgba(0, 135, 0,0.9);
}
#pause-btn, #resume-btn, #sw-pause-btn, #sw-resume-btn, #sw-reset-btn, #sw-lap-btn{
    display: none;
}
#cancel-btn, #alarm-clear-btn{
    display: none;
    animation: 0.1s fade;
    background-color: red;
    color: white;
}
.lap-reset{
    background-color: rgb(201, 160, 160);
    color: red;
    font-weight: bold;
}
#cancel-btn:hover, #alarm-clear-btn:hover{
    background-color: rgba(255, 0, 0,0.9);
}
#sw-ms{
    background-color: rgb(192, 0, 0);
}
.lap-reset:hover{
    background-color: rgba(201, 160, 160,0.8);
}
#lap, #alarm-div{
    animation:0.2s fade;
    display: none;
    overflow:scroll;
    height: 100px;
    width: 40%;
    margin: auto;
    box-shadow:2px 2px 15px 1px rgba(126, 126, 126, 0.568);
    margin-top: 40px;
    border-radius: 5px;
}
#lap::-webkit-scrollbar, #alarm-div::-webkit-scrollbar{
    display: none;
}
#lap div, #alarm-div div{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    padding: 4px 6px;
    /* border-bottom: 2px solid gray; */
    /* background-color: rgba(175, 180, 255, 0.582); */
    animation: 0.2s fade;
}
